* {
    box-sizing: border-box;
}

body {
    font-family: 'Architects Daughter', handwriting;
    width: 100hv;
    background-color: beige;
    transition :background-color 1s;
    min-height: 85vh;
    margin: 0;
}

.header {
    background-color: #50757B;
    padding: 0.8em;
    display: flex;  
}

.header__logo {
    width: 20%;
    text-align: center;
}

.img__logo {
    width: 5em;
}

.header__pst {
    width: 60%;
    text-align: center;
}

.header__pst__title {
    font-family: 'Berkshire Swash', écriture manuscrite ; 
    font-size: 3em;
    color: #d1c1a3;
    margin: 0;
    letter-spacing: 0.02em;

}

.header__pst__intro {
    font-size: 1.2em;
    color: #b3ada3;
    margin: 0;
}

#theme-switch-button {
    border-radius: 50%;
    border: 0px;
    background-color: #50757B;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 2.5em;
}

.header__setting {
    display: flex;
    justify-content: end;
    width: 20%;
    text-align: end;
}

#theme-switch-img {
    width: 2em;
}

/* container */
.container {
    display: flex;
    margin: 0.5%;
}

.container h2 {
    font-family: 'Berkshire Swash', écriture manuscrite ; 
    letter-spacing: 0.05em;
    margin-top: 1%;
    text-align: center;
    color: #b3ada3;
    font-size: 2em;
}

.container__bloc {
    background-color: #50757B;
    margin: 0.5%;
    padding: 0.5%;
    height: 100%;
}

.container__bloc.filtre {
    width: 15%;
}

.container__bloc.fiche {
    width: 85%;
}

.container .bloc__fiche {
    display: flex;
    flex-wrap: wrap;
}

.bloc__fiche__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    background-color: #101b08;
}

#img-fiche {
    margin: 2%;
    width: 90%;
    height: 90%;
}

.bloc__fiche__explication {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.bloc__fiche__explication h4 {
    text-align: center;
    margin: 5% 0 0 0;
    font-size: 1.5rem;
    font-weight: lighter;
}

.bloc__fiche__explication h6 {
    text-align: center;
    margin: 0;
    font-size: .9em;
    font-weight: lighter;
    font-style: italic;
}

.bloc__fiche__explication ul {
    margin: 5% 2%;
    padding: 5%;
    list-style: none;
}

.bloc__fiche__explication li {
    margin-top: 1%;
}

/* dark mode */
.theme-dark {
    color: white;
    background-color: #101b08;
    --border-normal: 1px solid rgba(255, 255, 255, .2);
    --color-bg: rgb(15, 15, 15);
    --color-opacity: rgba(255, 255, 255, .1);
  }

